.homepage {
    background-image: url(/home/background-home-mobile.jpg);
}
.destinationpage {
    background-image: url(/destination/background-destination-mobile.jpg);
}
.crewpage {
    background-image: url(/crew/background-crew-mobiles.jpg);
}
.technologypage {
    background-image: url(/technology/background-technology-mobiles.jpg);
}

@media (min-width: 768px) {
    .homepage {
           background-image: url(/home/background-home-tablet.jpg);
    } 
    .destinationpage {
        background-image: url(/destination/background-destination-tablet.jpg);
    }
    .crewpage {
        background-image: url(/crew/background-crew-tablet.jpg);
    }
    .technologypage {
        background-image: url(/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 1024px) {
    .homepage {
        background-image: url(/home/background-home-desktop.jpg);
    }
    .destinationpage {
        background-image: url(/destination/background-destination-desktop.jpg);
    }   
    .crewpage {
        background-image: url(/crew/background-crew-desktop.jpg);
    }   
    .technologypage {
        background-image: url(/technology/background-technology-desktop.jpg);
    }   
}